@font-face {
	font-family: 'nk-iconfont';
	src:url('fonts/nk-iconfont.eot');
	src:url('fonts/nk-iconfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/nk-iconfont.ttf') format('truetype'),
		url('fonts/nk-iconfont.woff') format('woff'),
		url('fonts/nk-iconfont.svg#nk-iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'nk-iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-ok:before {
	content: "\e600";
}
.icon-remove:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\e602";
}
.icon-star:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e604";
}
.icon-star-empty:before {
	content: "\e605";
}
.icon-envelope:before {
	content: "\e606";
}
.icon-zoom-in:before {
	content: "\e607";
}
.icon-zoom-out:before {
	content: "\e608";
}
.icon-time:before {
	content: "\e609";
}
.icon-refresh:before {
	content: "\e60a";
}
.icon-map-marker:before {
	content: "\e60b";
}
.icon-chevron-left:before {
	content: "\e60c";
}
.icon-chevron-right:before {
	content: "\e60d";
}
.icon-info-sign:before {
	content: "\e60e";
}
.icon-question-sign:before {
	content: "\e60f";
}
.icon-plus:before {
	content: "\e610";
}
.icon-minus:before {
	content: "\e611";
}
.icon-calendar:before {
	content: "\e612";
}
.icon-facebook-sign:before {
	content: "\e613";
}
.icon-chevron-down:before {
	content: "\e614";
}
.icon-chevron-up:before {
	content: "\e615";
}
.icon-comments:before {
	content: "\e616";
}
.icon-heart-empty:before {
	content: "\e617";
}
.icon-external-link:before {
	content: "\e618";
}
.icon-twitter:before {
	content: "\e619";
}
.icon-reorder:before {
	content: "\e61a";
}
.icon-envelope-alt:before {
	content: "\e61b";
}
.icon-instagram:before {
	content: "\e61c";
}
.icon-pinterest-sign:before {
	content: "\e61d";
}
